.star1,
.star2,
.star3,
.star4,
.star5 {
    color: yellow;
}

* {
    padding: 0px;
    margin: 0px;
    /*  font-size: 1.1vw; */
}

body {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: url(/image/icon/background-header.jpg);*/
    background-attachment: fixed;
}

.col30 {
    width: 30%;
}

.col10 {
    width: 10%;
}

.col20 {
    width: 20%;
}

.col40 {
    width: 40%;
}

.col60 {
    width: 60%;
}

h1 {
    text-transform: uppercase !important;
    padding: 5px !important;
}

h1 {
    color: #ffffff;
    background-color: #3399ff;
    padding: 10px;
    border-bottom: 3px solid #ffa500;
}

h2 {
    padding: 5px;
    border-bottom: 2px solid #ffa500;
    text-transform: uppercase;
}

a {
    transition-duration: 0.5s;
}
/*CSS NAV*/

nav {
    width: 100%;
    background-color: #3399ff;
}

.menu,
.sub-menu {
    display: flex;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
}

.menu,
.menu-list,
.sub-menu {
    list-style-type: none;
}

.menu>li,
.sub-menu {
    width: 12.5%;
}

a,
.menu>li a {
    text-decoration: none;
    display: block;
}

.menu>li>a,
.menu-list>li>a {
    color: #000000;
}

.menu>li>a {
    padding: 3px;
    text-align: center;
}

.menu-list>li>a {
    padding: 5px;
    text-align: left;
}

.menu>li>a:hover,
.sub-menu>li>a:hover {
    background-color: #ffd280;
}

.menu-list>li>a:hover {
    background-color: #ffa500;
}
/* menu con */

.sub-menu {
    display: none;
    position: absolute;
}

.menu>li:hover .sub-menu {
    display: block;
    background-color: #e6e6e6;
    width: 60vw;
}

.menu-list {
    width: 100%;
    display: flex;
}

.menu-list>li {
    width: 25%;
}
/* áp dụng cho cả span của header */

.menu span,
.tieude span {
    display: block;
    font-weight: bold;
}
/* CSS BACK TO TOP */

.back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
/*CSS CONTACT*/

.contact-bubbles {
    position: absolute;
    position: fixed;
    top: 25%;
    right: 1%;
}

.contact-bubbles>div {
    margin: 20px auto;
    padding: 2px;
    border-radius: 50%;
}

.bubbles-zalo {
    animation: bongbong 1.3s infinite;
}

.bubbles-mesenge {
    animation: bongbong 1.4s infinite;
}

.bubbles-mail {
    animation: bongbong 1.5s infinite;
}

.bubbles-phone {
    animation: bongbong 1.6s infinite;
}

@keyframes bongbong {
    from {
        transform: scale(0.8);
        background-color: #ffbd06;
    }
    to {
        transform: scale(1.2);
    }
}

/* FOOTER */

footer {
    /*background-image: url(../image/anhhotro/background-footer.PNG);*/
    background-size: 100%;
    color: #ffffff;

}

.footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 2px solid #ffa500;
    /*background-image: url("../img/slide-baner/dog-footer.jpg");*/
    background-color: #00ccff;
    /*margin-top: 10px;*/
}

.footer h6 {
    text-align: center;
}

footer a {
    /*background-color: #3399ff;*/

    color: #ffa500;
}

footer a:hover {

    color:#3399ff;
    text-decoration: none;
}

.footer-logo>img {
    width: 100%;
}

.contact>i {
    display: block;
}

.freeship,
.contact {
    display: flex;
    padding-top: 30px;
}

.freeship>div+div {
    padding-left: 10px;
}

.footer-info>ul>li:last-child,
.footer-info>ul>li:nth-child(4),
.pr ul {
    list-style-type: none;
}

.mauholine {
    color: #ff0000;
}

.footer-info img {
    width: 40%;
}
/* add class */

.permanent {
    position: fixed;
    top: 0px;
    z-index: 1;
}

@media screen and (max-width: 420px) {
    * {
        font-size: 12px;
    }
    .tieude {
        font-size: 5px;
    }
    .tieude,
    .menu,
    .main,
    .section-content .bootstrap-carousel,
    .list-dog .info-dog,
    .carousel-item img,
    .form-support,
    main h4,
    .footer,
    .col40,
    .col20,
    .content .info,
    .section-content,
    .in-content img {
        width: 100%;
    }
    .form-support {
        left: 0px;
    }
    .col10 img,
    .main div>h4 {
        width: 70%;
    }
    .col40 a {
        padding: 1vw;
    }
    .footer {
        background-color: #000000;
    }
}
